#display{
    text-align: end;
    
    background-color: black;
    color: #0EEE1D;
    border:10px solid grey;
    border-radius:15%;
}

#button{
    padding-top: 15px;
    padding-bottom: 10px;

}

.container{
    width:30%;
    height: 450px;
    border:6px solid grey !important;
    border-radius:5%;
    background-color: blueviolet;
}

.row{
    height: 80px;
}