#display{
    text-align: end;
    font-size:x-large;
    background-color: black;
    color: #0EEE1D;
    border:10px solid grey;
    border-radius:15%;
    height:80px;
}

#button{
    padding-top: 30px;
    padding-bottom: 10px;

}

.container{
    position:absolute;
    top: 30px; left:32%;
    width:30%;
    height: 510px;
    border:6px solid grey !important;
    border-radius:5%;
    background-color: blueviolet;
    
}

.row{
    height: 80px;
}

body{
    background-color:bisque;
}