#display{
    text-align: end;
    font-size:x-large;
    background-color: black;
    color: #0EEE1D;
    border:10px solid grey;
    border-radius:15%;
    height:80px;
}

.col-3{
   
    padding-top:27px;

}

.container{
    position:absolute;
    top: 35px; left:34%;
    width:28%;
    height: 515px;
    border:6px solid grey !important;
    border-radius:5%;
    background-color: blueviolet;
    
}

.row{
    height: 80px;
}

body{
    background-color:bisque;
}